*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    }

.title_text{
    text-align: center;
    font-size: 35px;
    z-index: 40;
    position: relative;
    color: white;
    margin-top: 50px;
}

nav{
   margin-top: 10px;
   right:100%
  
}

.nav_element{
    border: 3px solid rgb(0, 0, 0);
    margin: 1px;
    z-index: 30;
    position: fixed;
    background-color: white;
    color: black;
    border-radius: 10%;
}

.dropdown-item::hover{
    color: white;
    background-color: #43C3FF ;
}


a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}







@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0;
    
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: 0;
    background-image: linear-gradient(to top, #0D0956 20%, #5F07A1 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}